.repoTable {
    width: 100%;

    & tr {
        & th:first-child,
        & td:first-child {
            width: 10%;
            white-space: nowrap;
        }

        & th {
            padding-right: 3rem;
            position: relative;
        }

        & td {
            vertical-align: middle;
            word-wrap: break-word;
            width: 200px;
        }
    }

    & .repoRemove {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 3rem;
        cursor: pointer;
        font-size: 1.5rem;
        line-height: 1rem;
        text-align: center;
        padding: 0.75rem;
        color: #999;
        user-select: none;
        background-color: #fff;

        &:active {
            transform: scale(0.97);
        }

        &:hover {
            color: #4d4d4d;
            background-color: #eee;
        }
    }

    & .cellBest {
        background-color: rgba(129, 192, 129, 0.5);
    }

    & .cellPropName {
        text-transform: capitalize;
    }
}
